pymupdf4llm
pymupdf
langchain
langchain-huggingface
langchain-community
chromadb
sentence-transformers
requests
langchain-text-splitters
langchain-qdrant
qdrant-client
pymupdf4llm
langchain-huggingface
langchain-community
pandas
